-- Outreach log: email/SMS sends per lead (Session 8)
-- Run after 001_initial_schema.sql

create table public.outreach_log (
  id uuid primary key default gen_random_uuid(),
  lead_id uuid not null references public.leads (id) on delete cascade,
  sent_by uuid not null references public.users (id),
  type text not null check (type in ('email', 'sms')),
  recipient text not null,
  subject text,
  message_body text not null,
  sent_at timestamptz not null default now(),
  status text not null check (status in ('sent', 'failed'))
);

create index outreach_log_lead_id_idx on public.outreach_log (lead_id);
create index outreach_log_sent_by_idx on public.outreach_log (sent_by);

comment on column public.outreach_log.subject is 'Email only; null for SMS';

alter table public.outreach_log enable row level security;

-- Same company visibility as leads (via event)
create policy outreach_log_select on public.outreach_log
  for select using (
    exists (
      select 1
      from public.leads l
      join public.events e on e.id = l.event_id
      join public.users u on u.company_id = e.company_id
      where l.id = lead_id and u.id = auth.uid()
    )
  );

-- Reps log their own sends for leads in their company
create policy outreach_log_insert on public.outreach_log
  for insert to authenticated
  with check (
    sent_by = auth.uid()
    and exists (
      select 1
      from public.leads l
      join public.events e on e.id = l.event_id
      join public.users u on u.company_id = e.company_id
      where l.id = lead_id and u.id = auth.uid()
    )
  );
